VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,7,3,0
 PRODUCTVERSION 1,7,3,0
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Version 1.7.3"
            VALUE "CompanyName", "FileZilla Project"
            VALUE "FileDescription", "FileZilla Server Administration Client"
            VALUE "FileVersion", "1, 7, 3, 0"
            VALUE "InternalName", "FileZilla Server Administration Client"
            VALUE "LegalCopyright", "Copyright (C) 2006-2021 Business Follows srl"
            VALUE "OriginalFilename", "filezilla-server-gui.exe"
            VALUE "ProductName", "FileZilla Server"
            VALUE "ProductVersion", "1, 7, 3, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

