[Unit]
Description=A free open source FTP and FTPS Server.
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/filezilla-server/bin/filezilla-server --config-dir /opt/filezilla-server/etc
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
